{
  "trailingComma": "all",
  "printWidth": 100,
  "semi": true,
  "singleQuote": false,
  "bracketSameLine": false,
  "arrowParens": "always",
  "bracketSpacing": true,
  "jsxSingleQuote": true,
  "tabWidth": 2
}