.check-in-form-wrapper {
  background-color: rgb(244, 244, 245);
  width: 90%;
  border-radius: 3px;
  padding: 1rem 0;
}

.cardNumber {
  border-style: none;
  border-bottom: 1px solid rgba(105, 105, 105, 0.2);
  padding: 0.3rem;
  font-size: 1.2rem;
  text-align: center;
}

.cardNumber::placeholder {
  color: rgba(105, 105, 105, 0.2);
}

.cardNumber-wrapper {
  margin: 10px 0
}

.allCheck {
  font-size: 1em;
  margin: 5px;
}

.asterisk {
  color: red;
  font-weight: bold;
}
