.checkin-wrapper {
  height: fit-content;
  min-height: inherit;
  width: 90vw;
  max-width: 512px;
  margin: auto;
  display: flex;
  flex-direction: column;
}

.checkin-card-wrapper {
  height: 40rem;
  transition: transform .8s ease;
  transform: perspective(150rem);
  transform-style: preserve-3d;
  display: flex;
  position: relative;
  background-color: white;
  color: black;
  border-radius: 13px;
  padding: 1rem;
}
