.checkin-wrapper {
  height: fit-content;
  min-height: inherit;
  width: 90vw;
  max-width: 512px;
  margin: auto;
  display: flex;
  flex-direction: column;
  perspective: 200rem;
}

.checkin-card-wrapper {
  height: 40rem;
  transition: transform 0.8s ease;
  transform-style: preserve-3d;
  display: flex;
  position: relative;
  color: black;
  padding: 1rem;
  border-radius: 13px;
}

.front {
  transform: rotateY(0deg);
}

.back {
  transform: rotateY(180deg);
}
