#checkin-wrapper {
  height: fit-content;
  min-height: inherit;
  width: 90vw;
  max-width: 512px;
  margin: auto;
  display: flex;
  flex-direction: column;
}

#checkin-card-wrapper {
  transition: transform 0.7s;
  transform-style: preserve-3d;
  height: fit-content;
  min-height: inherit;
  display: flex;
}
