.profileCard {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-color: white;
  color: black;
  border-radius: 13px;
  padding: 1rem;
  flex-grow: 1;
  backface-visibility: hidden;
}

.submitBtn {
  font-family: "D2Coding";
  border-radius: 3px;
  padding: 10px;
  font-size: 1rem;
  width: 90%;
  font-weight: bold;
  margin: 0 auto;
  color: whitesmoke;
  background-color: rgb(83, 227, 173);
  border: 2px solid rgb(83, 227, 173);
}

.submitBtn:disabled {
  color: black;
  border-color: #696969;
  background-color: #696969;
  opacity: 0.2;
}

.divider {
  border: 1px solid rgba(0, 0, 0, 0.1);
  width: 90%;
}
