.profileCard {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-color: white;
  color: black;
  border-radius: 13px;
  padding: 1rem;
  flex-grow: 1;
  backface-visibility: hidden;
}

.profile-wrapper {
  text-align: center;
}

.profile {
  object-fit: cover;
  border-radius: 50%;
  max-width: 200px;
  max-height: 200px;
  width: 30vw;
  height: 30vw;
}


.divider {
  border: 1px solid rgba(0, 0, 0, 0.1);
  width: 90%;
}
