#log-data-wrapper {
  list-style: none;
  margin: 0;
  padding: 0;
  height: 80vh;
  overflow-y: scroll;
  -ms-overflow-style: none;
  width: 100%;
}

::-webkit-scrollbar {
  display: none;
}

#time-log-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-color: white;
  color: black;
  border-radius: 13px;
  padding: 1rem;
  flex: 1;
  backface-visibility: hidden;
  transform: rotateY(180deg);
  flex-grow: 1;
}

.log-data {
  text-align: center;
  color: rgba(0, 0, 0, 0.6);
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
