::-webkit-scrollbar {
  display: none;
}

.time-log-wrapper {
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  padding: 3rem;
  text-align: center;
  background-color: white;
  border-radius: 13px;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  transform: rotateY(-180deg);
  backface-visibility: hidden;
}

.title {
  font-weight: bold;
  text-transform: uppercase;
}

.util-box {
  position: absolute;
  top: 0;
  right: 0;
  padding: 1rem;
}

.time-log-title {
  margin: 0 auto;
}

.time-log-all-count {
  width: 100%;
  text-align: right;
  margin: 0 0 1rem 0;
}

.log-data-wrapper {
  list-style: none;
  margin: 0;
  padding: 0;
  height: 0;
  overflow-y: scroll;
  -ms-overflow-style: none;
  width: 100%;
  flex-grow: 1;
}
.divider {
  border: 1px solid rgba(0, 0, 0, 0.1);
  width: 90%;
  margin: 0 auto;
}
.log-data {
  padding: 0.5rem 0;
  display: flex;
  justify-content: space-around;
  text-align: center;
  color: rgba(0, 0, 0, 0.6);
  width: 100%;
}
