.filterBtn {
  width: 7rem;
  height: 2rem;
  border: 1px solid whitesmoke;
  border-radius: 3px;
  margin: 1rem;
  background: none;
  color: whitesmoke;
  font-size: 1rem;
  font-weight: bolder;
}

.force-out-Btn {
  border: 1px solid black;
  border-radius: 3px;
  background: none;
  font-weight: bolder;
}
