
#page-wrapper {
  width: 100vw;
  height: fit-content;
  /* min-height: 50vh; */
  /* min-height: calc(var(--vh, 1vh) * 100); */
  min-height: calc(var(--vh, 1vh) * 70);
  touch-action: pan-y;
  /* margin: 1em 0; */
  perspective: 700px;
}

#version {
  font-size: smaller;
  text-align: center;
  color: rgba(255, 255, 255, 0.3);
  margin-top: 1em;
}

#version {
  font-size: smaller;
  text-align: center;
  color: rgba(255, 255, 255, 0.3);
  margin-top: 1em;
}
