html {
  color: white;
  background-color: rgb(45, 46, 51);
  font-family: 'Spoqa Han Sans Neo';
}

#page-wrapper {
  width: 100vw;
  height: fit-content;
  min-height: 100vh;
  min-height: calc(var(--vh, 1vh) * 100);
  touch-action: pan-y;
  /* margin: 1em 0; */
}

#version {
  font-size: smaller;
  text-align: center;
  color: rgba(244, 244, 245, 0.4);
  margin-top: 1em;
}
