* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
html {
  color: white;
  background-color: rgb(45, 46, 51);
  font-family: "D2Coding";
}

body {
  margin: 0;
  font-family: "D2Coding";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@font-face {
  font-family: "D2Coding";
  src: url("./assets/fonts/D2Coding.ttf") format("truetype");
}

@font-face {
  font-family: "D2Coding";
  font-weight: bold;
  src: url("./assets/fonts/D2Coding.ttf") format("truetype");
}


/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type='number'] {
  -moz-appearance: textfield;
}